beautifulsoup4==4.12.2
certifi @ file:///croot/certifi_1671487769961/work/certifi
charset-normalizer==3.2.0
cvzone==1.6.1
filelock==3.12.4
gdown==4.7.1
idna==3.4
numpy==1.26.0
opencv-python==4.8.1.78
PySocks==1.7.1
requests==2.31.0
six==1.16.0
soupsieve==2.5
tqdm==4.66.1
urllib3==2.0.5
